.main {
  min-height: 100vh;
}

.titulo {
  padding: 2rem;
}


.tabela {
  /* border: 1px solid #000; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 0.5rem;
  border-radius: 100px;
  margin-left: 5px;
}

.tituloTabela {
  padding: 1rem;
}
.items {

  padding: 1rem;

  display: flex;
  justify-content: space-between;

  border: 1px solid #000;
}

.item {
  width: 100%;
  display: flex;
}

.opcoes {
  width: 100%;
  display: flex;
}

.buttonDeletar {
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  margin-left: 5px;

  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: red;
}

.buttonVer {
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  margin-left: 5px;

  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: blue;
}

.buttonEditar {
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  margin-left: 5px;

  cursor: pointer;
  /* color: #FFFFFF; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: orange;
}

.buttonAdicionar {
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  margin-left: 5px;

  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: green;
}

.buttonCancelar {
  padding: 0.5rem;
  border: none;
  border-radius: 100px;
  margin-left: 5px;

  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: gray;
}

.modal {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #0000ff;
  border-top-color: transparent;
  animation: spin 1s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: 100;
}